CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_planter.csv"

#CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
#CONFIG_SPIRAM_CACHE_LIBMATH_IN_IRAM=n
#CONFIG_SPIRAM_USE_MALLOC=y
#CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# Optimise using -Os to reduce size
#CONFIG_COMPILER_OPTIMIZATION_SIZE=y
#CONFIG_COMPILER_OPTIMIZATION_PERF=y

#CONFIG_COMPILER_OPTIMIZATION_SIZE=y
#CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y


#CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_ESP32_WIFI_IRAM_OPT=n
CONFIG_ESP32_WIFI_RX_IRAM_OPT=n
CONFIG_ESP_PANIC_HANDLER_IRAM=n
CONFIG_SPI_MASTER_ISR_IN_IRAM=n
CONFIG_SPI_SLAVE_ISR_IN_IRAM=n
#CONFIG_UART_ISR_IN_IRAM=n
#CONFIG_LWIP_IRAM_OPTIMIZATION=n

#CONFIG_PPP_DEBUG_ON=n