# ESP32-S3-WROOM-1-N8R8 -> FLASH 32 MB (Quad SPI), RAM 8 MB (Octal SPI)


CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_umdc-s3-n32.csv"

CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# 8MB Octal SPI PSRAM

CONFIG_SPIRAM_MODE_QUAD=
CONFIG_SPIRAM_MODE_OCT=y


# Fast flash
# 32MB Octal SPI FLASH

CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y
CONFIG_ESP32_REV_MIN_1=y


CONFIG_ESPTOOLPY_OCT_FLASH=y
CONFIG_ESPTOOLPY_FLASHMODE_DOUT=y
CONFIG_ESPTOOLPY_FLASHMODE="dout"

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="32MB"


#CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
#CONFIG_SPIRAM_CACHE_LIBMATH_IN_IRAM=n
#CONFIG_SPIRAM_USE_MALLOC=y
#CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# Optimise using -Os to reduce size
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
#CONFIG_COMPILER_OPTIMIZATION_PERF=y

#CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_ESP32_WIFI_IRAM_OPT=n
CONFIG_ESP32_WIFI_RX_IRAM_OPT=n
CONFIG_ESP_PANIC_HANDLER_IRAM=n
CONFIG_SPI_MASTER_ISR_IN_IRAM=n
CONFIG_SPI_SLAVE_ISR_IN_IRAM=n
#CONFIG_UART_ISR_IN_IRAM=n
#CONFIG_LWIP_IRAM_OPTIMIZATION=n

CONFIG_PPP_DEBUG_ON=n



#CONFIG_ETH_SPI_ETHERNET_W5500=y
#CONFIG_ETH_USE_SPI_ETHERNET=y


#CONFIG_BT_ENABLED=n
#CONFIG_BT_NIMBLE_ENABLED=n
#CONFIG_BT_CONTROLLER_ENABLED=n


#CONFIG_ESP_SYSTEM_ESP32_SRAM1_REGION_AS_IRAM=y


#CONFIG_LOG_DEFAULT_LEVEL_INFO=n
#CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
#CONFIG_LOG_DEFAULT_LEVEL=1
CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=n
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=n
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
#CONFIG_LOG_DEFAULT_LEVEL=5
#CONFIG_LOG_MAXIMUM_LEVEL=5

 # UDP
CONFIG_LWIP_NETIF_DEBUG=n
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_PAP_SUPPORT=y
CONFIG_LWIP_PPP_CHAP_SUPPORT=y
CONFIG_LWIP_PPP_DEBUG_ON=n
CONFIG_LWIP_DEBUG=n


# Network name

CONFIG_LWIP_LOCAL_HOSTNAME="wESP32"

